.header {
    padding: 10px;
    text-align: center;
    font-size: 20px;

    a {
        display: inline-block;
        margin-right: 10px;
        padding: 5px 10px;

        svg {
            width: 20px;
            margin-right: 5px;
        }
    }
}